/nixhostforge
/frontend/node_modules
/internal/app/settings/dist/*
!/internal/app/settings/dist/index.html
.shared

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
